<div class="container-fluid cate-menu my-3">
  <div class="row mt-3 mx-4 text-secondary grey-bottom">
    <div class="col-1 pb-2 active">
      Description
    </div>
  </div>

  <div class="mx-4 px-5 mt-4 text-secondary text-justify">
    {# Read the data from database as raw html #}
    <p class="ml-4">{{ movie.description|raw }}</p>
  </div>

</div>


