/*-------------------Bottom of the page-------------------*/
.footer-logos{
  text-align: left;
  background: #000639;
  color: white;
}

.social-media{
  padding: 30px 6.5%;
  color: white;
}

.fab{
  padding: 0 5px;
  color: white;
}

.last-texts{
  padding: 0 7px;
  font-size: 1em;
  font-weight: 400;
  color: white;
}

.fa-facebook{
  padding-left: 12px;
}
