/*Navbar*/
.navbar-brand{
  font-family: 'Patua One', cursive;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.navbar{
  transition: background-color 300ms ease-in-out;
}

.nav-item{
  font-weight: 500;
  cursor: pointer;
}

.nav-bgd{
  background: transparent; 
}

.scrolled{
  background: #000639 !important;
  box-shadow: 0 10px 10px -10px rgba(33,43,53,0.1);
}