<!doctype html>
{% apply inline_css(source("/style/movie.css")) %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald|Patua+One&display=swap" rel="stylesheet">
    {# <link rel="stylesheet" type="text/css" href="/movie/style/movie.css"> #}
    <title>Movie Single Page</title>
  </head>
  <body>
    <!-- Part 1 Header navbar -->
    {{ include('/common/header.html.twig')|inline_css(source("/style/movie_header.css")) }}

    <!-- Part 2 Banner video -->
    {% include '/single_page/movie_banner_video.html.twig' %}

    <!-- Part 3 Description -->
    {% include '/single_page/movie_description.html.twig' %}

    <!-- Part 4 Comment -->
    {% include '/single_page/movie_comments.html.twig' %}

    <!-- Part 4 Footer -->
    {{ include('/common/footer.html.twig')|inline_css(source("/style/footer.css")) }}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Customized js -->
    {% include '/single_page/movie_js_logic.html.twig' %}
  </body>
</html>
{% endapply %}